@media only screen and (max-width: 12000px) and (max-height: 12000px){
  body {
    background-color: rgb(1, 1, 1);
  }}

* {
  margin: 0;
  padding: 0;
  zoom: 1.1;
}

*:focus {
  outline: none;
}

/* body {
  background-color: rgb(1, 1, 1);
} */

.answer{
  width: 205px;
  height: 20px;
  /* background-color: white; */
  background-color: rgb(1, 1, 1);
  caret-color: rgba(122, 192, 186, 0.75);
  font-size: medium;
  color: rgb(172, 172, 172);
  border: 0px solid;
  /* width: 45vh; */
}

input {
  width: 205px;
  height: 20px;
  /* background-color: white; */
  background-color: rgb(1, 1, 1);
  caret-color: rgba(122, 192, 186, 0.75);
  font-size: medium;
  color: rgb(172, 172, 172);
  border: 0px solid;
  /* width: 45vh; */
}

.temp {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding-bottom: 50px; */
  border-bottom: 2px solid whitesmoke;
}

button {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  background-color: rgba(23, 23, 23, 0.9);
  border-radius: 25px;
  color: rgba(156, 210, 97, 0.82);
}

.clear {
  color: rgba(233, 120, 116, 0.87);
}

.zero,
.sign,
.number {
  color: rgb(172, 172, 172);
}

.equal {
  background-color: rgba(65, 126, 4, 0.49);
  color: rgb(172, 172, 172);
}

.container {
  height: 74vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .all {
  padding: 10px;
  border: 5px solid whitesmoke;
} */
